.dashboard h2{

    font-size:34px;

    margin-bottom:20px;

}

.stats{

    display:grid;

    grid-template-columns:repeat(5,1fr);

    gap:15px;

    margin-bottom:20px;

}

.stat-card{

    background:#1e293b;

    border-radius:15px;

    padding:20px;

    text-align:center;

    transition:.3s;
    cursor: pointer;

}

.stat-card:hover{

    transform:translateY(-5px);

}

.stat-card h3{

    font-size:34px;

}

.stat-card p{

    color:#94a3b8;

}

.search-box{

    margin-bottom:25px;

}

.search-box input{

    width:100%;

}